APP_NAME="Portfolio Sonia Habibi"
APP_URL=http://localhost/portfolio/public
APP_ENV=local

DB_HOST=localhost
DB_NAME=portfolio
DB_USER=root
DB_PASS=

MAIL_FROM=contact@sonia-habibi.dev
MAIL_TO=sonia@sonia-habibi.dev
MAIL_HOST=smtp.o2switch.net
MAIL_PORT=465
MAIL_USER=
MAIL_PASS=

DEFAULT_LANG=fr
