# Environnement
.env

# Dépendances
vendor/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Uploads
public/assets/images/uploads/

# SQL dumps
*.sql

# Cache
.cache/
tmp/

# Node (si jamais)
node_modules/
